.upload-container {
  width: 500px;
  margin: 60px auto;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
}

.upload-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.upload-container input,
.upload-container select,
.upload-container textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
}

.upload-container textarea {
  resize: none;
  height: 100px;
}

.file-label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-container button {
  width: 100%;
  padding: 12px;
  background: #00ffcc;
  border: none;
  font-size: 16px;
  cursor: pointer;
}